{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出力実行画面</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>

<body>
    <a href="{% url 'home' %}" class="home-link">ホームへ戻る</a> 
    <div class="container">
        <h1>出力実行画面</h1>
        <div class="container">
            <h1>CSVファイルのダウンロード</h1>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-large">CSVファイルをダウンロード</button>
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 実績登録用データ作成サイト</p>
    </footer>
</body>
</html>
